<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="book-api-rest-assured-test-automation">
  <listeners>
    <listener class-name="testUtils.TestResultsLogListener"></listener>
    <listener class-name="testUtils.AnnotationTransformer"></listener>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"></listener>
  </listeners>
  <test name="CreateBookTest">
    <classes>
      <class name="tests.TS01_CreateBook" />
    </classes>
  </test>
  <test name="GetBookTest">
    <classes>
      <class name="tests.TS02_GetBook" />
    </classes>
  </test>
  <test name="UpdateBookTest">
    <classes>
      <class name="tests.TS03_UpdateBook" />
    </classes>
  </test>
  <test name="DeleteBookTest">
    <classes>
      <class name="tests.TS04_DeleteBook" />
    </classes>
  </test>
</suite>